.chead{
  background-color: #323132;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  overflow: hidden;
}

.headtitle{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 10px;
  color: #5577DD;
  float: left; 
  font-size: 150%;
  font-family: Arial Black, Gadget, sans-serif;
}

.headoption{
  float: right;
  color: #5577DD;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 80%;
  font-family: 'Courier New', Courier, monospace; 
}

body{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.chead2{
  background-color: #424142;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  overflow: hidden;
}

.bdiv{
  background-color: #E2E3E1;
  width: 100%;
  position: absolute;
  vertical-align: top;

}

.bcontent{
  vertical-align: top;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 80%;

}
[alt="minipic"] {
  text-align: center;
  width: 100%;
}
.subcenter{
  text-align: center;
  font-weight: bold;
}
