<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/global.css"> 
    <title> {{ page.title }}  </title>
  </head>

    <body>

      <div class="chead">
        <div class = "headtitle">
          <p>
           EE Portfolio
          </p>
        </div>
      </div>

      <div class="chead2">
        <div class = "headoption">
          <p>
            CONTACT
          </p> 
        </div>

        <div class = "headoption">
          <p>
            ABOUT
          </p> 
        </div>

        <div class = "headoption">
          <p>
            PROJECTS
          </p> 
        </div>

        <div class = "headoption">
          <p>
            HOME
          </p> 
        </div>
      </div>

        <div class="bdiv">
          <div class="bcontent">
            {{ content }}
          </div>

        </div>

    </body>

</html>
